@import "tailwindcss";
@tailwind utilities;
#root {
  margin: 0 auto;
  text-align: center;
  color: white;
  /*background-color: #a6845f;*/
}
body{
  @apply bg-black
}
.headerContainer {
  @apply fixed flex flex-row justify-end py-5 px-[8rem] w-full z-10000 bg-black
}
.headerFiller1{
  @apply w-4/20
}
.headerFiller2{
  @apply w-7/40
}
.headerItems{
  @apply flex justify-around items-center w-1/2 uppercase tracking-wider
}
.headerButtons{
  @apply flex justify-between items-center w-5/40
}
.headerItem{
  @apply flex flex-row
}
#selected{
  @apply text-yellow-200
}
.headerButton{
  @apply cursor-pointer
}
.heroContainer{
  @apply flex flex-row mb-10 pt-25 justify-between px-[8rem]
}
.heroText{
  @apply relative flex flex-col justify-around w-2/5 text-left
}
.heroBigText{
  @apply text-[100px] font-medium leading-[1.3]
}
.heroSmallText{
  @apply text-gray-300 text-[24px]
}
.heroImageCon{
  @apply relative w-11/20 bg-stone-800
}
.heroImageTop{
  @apply flex flex-row
}
.heroStatsCon{
  @apply flex justify-center w-full
}
.heroStats{
  @apply flex flex-col justify-around text-left
}
.heroStatTop{
  @apply text-4xl font-bold my-2
}
.heroImageBottom{
  @apply flex py-3 px-8
}
.heroBottomText{
  @apply flex flex-col justify-center text-left ml-5
}
.heroBTText{
  @apply text-[24px] font-medium
}
.heroBBText{
  @apply text-gray-300
}
.heroPlayImg{
  @apply absolute top-0 bottom-0 my-auto -start-[69px]
}
.heroScrollCon{
  @apply flex justify-center my-10
}
.heroScroll{
  @apply tracking-wide transform-[rotate(-90deg)] h-fit
}
.heroShapeImg{
  @apply absolute -bottom-10 end-20
}
.logosCon{
  @apply flex justify-around my-10 py-15 px-[8rem]
}
.logoImg{
  @apply object-contain
}
.aboutContainer{
  @apply my-20 px-[8rem]
}
.aboutTitle{
  @apply text-[18px] uppercase tracking-wider text-gray-400 text-left
}
.aboutText{
  @apply text-5xl font-bold leading-tight text-left w-7/10
}
.aboutStats{
  @apply relative w-full
}
.aboutInfo{
  @apply absolute -bottom-20 right-60 z-1 flex flex-row
}
.aboutStat{
  @apply bg-zinc-800 p-14 text-center
}
.aboutStatN{
  @apply text-5xl font-bold
}
.aboutStatInfo{
  @apply text-gray-400 text-xl mt-1
}
.aboutMain{
  @apply flex flex-row justify-between items-start my-10
}
.aboutSvgs{
  @apply relative w-6/10
}
.aboutSvg1{
  @apply absolute -top-18 -right-16 z-0
}
.aboutSvg2{
  @apply absolute -bottom-10 -left-10 z-1
}
.aboutImg{
  @apply w-full h-auto rounded-lg grayscale object-cover
}
.aboutMainText{
  @apply space-y-6 w-3/10
}
.aboutTextInside{
  @apply text-gray-300 leading-relaxed text-left
}
.aboutBtnCon{
  @apply flex justify-start mt-6
}
.aboutBtn{
  @apply relative px-6 py-3 rounded-full hover:underline font-bold uppercase tracking-widest cursor-pointer
}
.btnCir{
  @apply absolute top-0 left-0 size-13 bg-gray-800 -z-1 rounded-full
}
.statsContainer{
  @apply py-25
}
.statsTable{
  @apply flex flex-row justify-around bg-stone-800 py-30 px-[8rem]
}
.statsCard{
  @apply relative flex flex-col items-center text-center w-3/10
}
.statsImg{
  @apply absolute -top-0 -left-0
}
.statsTopText{
  @apply absolute inline-block text-5xl font-bold mb-2
}
.statsBottom{
  @apply flex flex-row justify-between gap-6 items-center mt-15
}
.statsDash{
  @apply w-10 h-0.25 bg-white
}
.statsBottomText{
  @apply text-[52px] font-bold
}
.statsText{
  @apply text-gray-400 mt-6 w-full text-xl text-left
}
.statsCardUl{
  @apply mt-8 space-y-2 text-left text-gray-100 text-[18px] font-medium w-full
}
.statsCardLi{
  @apply flex items-start
}
.statsLiDot{
  @apply inline-block w-2 h-2 bg-white rounded-full mt-2.5 mr-3
}
.text-outline {
  -webkit-text-stroke: 1px white;
  color: transparent;
  z-index: auto;
}
.portfolioContainer{
  @apply mx-auto px-[8rem] py-16 relative
}
.portfolioTop{
  @apply flex flex-row justify-between w-full mb-4
}
.portfolioTopCont{
  @apply text-left w-1/2
}
.portfolio{
  @apply text-[18px] uppercase tracking-wider text-gray-400 text-left mb-2
}
.portfolioMainText{
  @apply text-4xl md:text-5xl lg:text-5xl font-medium leading-tight mb-6
}
.portfolioTopText{
  @apply text-gray-300 max-w-lg h-1/2 flex items-center
}
.portfolioBtnCon{
  @apply flex justify-start items-center h-1/2
}
.portfolioBtn{
  @apply relative px-6 py-3 rounded-full hover:underline cursor-pointer font-bold uppercase tracking-widest
}
.portfolioLinks{
  @apply flex flex-col
}
.portfolioLink{
  @apply flex flex-col justify-between md:flex-row py-12 border-b-2 border-gray-800
}
.portfolioLinkLeft{
  @apply flex flex-row
}
.portfolioLinkLText{
  @apply w-fit
}
.portfolioLinkL{
  @apply text-gray-400
}
.portfolioLinkText{
  @apply text-3xl md:text-5xl font-bold tracking-tight mt-2 ml-3
}
.portfolioArrImg{
  @apply w-[37px]
}
.portfolioLinkRight{
  @apply flex items-end cursor-pointer
}
.portfolioImgCon{
  @apply absolute top-4/10 right-3/20
}
.portfolioImg{
  @apply w-full h-full
}
.teamContainer{
  @apply px-[8rem] py-25
}
.teamTop{
  @apply flex flex-row justify-between mb-12 w-full
}
.teamLeft{
  @apply w-1/2 text-left
}
.team{
  @apply text-[18px] uppercase tracking-wider text-gray-400 text-left mb-2
}
.teamMainText{
  @apply text-4xl md:text-5xl lg:text-5xl font-medium leading-tight
}
.teamRight{
  @apply w-1/2 flex flex-col items-end
}
.teamRightText{
  @apply text-gray-300 text-left h-1/2 w-4/5
}
.buttons{
  @apply flex items-center gap-6 h-1/2
}
.button{
  @apply flex justify-center p-4 size-12 rounded-full bg-stone-800 hover:bg-stone-900 cursor-pointer
}
.teamGrid{
  @apply grid grid-cols-1 md:grid-cols-3 gap-8
}
.teamImg{
  @apply w-full
}
.teamInfo{
  @apply py-6 text-left
}
.teamName{
  @apply text-2xl font-bold
}
.teamJob{
  @apply text-gray-400 text-sm mt-1
}
.teamSoc{
  @apply absolute bottom-0 right-0 w-10 h-7/20 bg-[#E3B27D] flex flex-col items-center justify-around py-3
}
.teamPages{
  @apply flex justify-center mt-8 space-x-2
}
.reviewContainer{
  @apply px-[8rem] pt-15 pb-25
}
.reviewTop{
  @apply flex flex-row justify-between mb-12 w-full
}
.reviewLeft{
  @apply w-1/2 text-left
}
.review{
  @apply text-[18px] uppercase tracking-wider text-gray-400 text-left mb-2
}
.reviewText{
  @apply text-4xl md:text-5xl lg:text-5xl font-medium leading-tight
}
.reviewGrid{
  @apply flex flex-row justify-between w-full
}
.reviewCard{
  @apply flex flex-col w-1/2 pr-4
}
.reviewCardTop{
  @apply flex flex-row items-center mb-5
}
.reviewTextLine{
  @apply w-2 h-9/10 bg-[#E3B27D] mr-4
}
.reviewCardText{
  @apply italic text-2xl text-left
}
.reviewCardBottom{
  @apply flex flex-row mt-10
}
.reviewer{
  @apply flex flex-row justify-start items-center w-1/2
}
.reviewerInfo{
  @apply text-left ml-5
}
.reviewerName{
  @apply text-[22px] font-medium
}
.reviewerJob{
  @apply text-[14px] text-[#E3B27D] uppercase tracking-wider
}
.reviewQuoteCon{
  @apply flex justify-center items-center w-1/2
}
.reviewQuote{
  @apply h-1/3
}
.newsContainer{
  @apply relative px-[8rem] pt-15 pb-25
}
.newsTop{
  @apply flex flex-row justify-between w-full mb-4
}
.newsLeft{
  @apply text-left w-1/2
}
.news{
  @apply text-[18px] uppercase tracking-wider text-gray-400 text-left mb-2
}
.newsMainText{
  @apply text-4xl md:text-5xl lg:text-5xl font-medium leading-tight mb-6
}
.newsRight{
  @apply text-left w-2/5
}
.newsText{
  @apply text-gray-300 max-w-lg h-1/2 flex items-center
}
.newsBtnCon{
  @apply flex justify-start items-center h-1/2
}
.newsBtn{
  @apply relative px-6 py-3 rounded-full hover:underline cursor-pointer font-bold uppercase tracking-widest
}
.newsGrid{
  @apply grid grid-cols-2
}
.newsCard{
  @apply text-left w-full my-15
}
.newsCardInfo{
  @apply flex flex-row mb-5
}
.newsTheme{
  @apply text-gray-500
}
.newsLine{
  @apply bg-gray-600 w-[2px] ml-2
}
.newsDate{
  @apply text-[#E3B27D] ml-3
}
.newsHeadline{
  @apply text-left font-medium text-5xl/15 cursor-pointer hover:underline
}
.newsImg{
  @apply absolute bottom-5/20 left-7/20 h-70
}
.endContainer{
  @apply relative flex items-end mb-30
}
.endImg{
  @apply absolute top-0 right-0 -z-1
}
.endLink{
  @apply flex flex-row justify-start p-15 mt-70 bg-stone-900 w-9/10
}
.endText{
  @apply text-7xl/20 text-left font-bold mr-30
}
.endBtn{
  @apply flex flex-col justify-center items-center bg-[#E3B27D] rounded-[50%] aspect-square h-full p-10 text-2xl uppercase tracking-wider cursor-pointer hover:bg-[#a6845f]
}
.footerCon{
  @apply px-[8rem]
}
.footerTop{
  @apply flex flex-row justify-between
}
.footerLeft{
  @apply text-left px-5 w-1/4 pb-25
}
.footerText{
  @apply text-gray-300 mb-10
}
.footerPhone{
  @apply bg-[#E3B27D] w-fit p-3 flex flex-row justify-start items-center
}
.footerPhoneImg{
  @apply mr-2
}
.footerRight{
  @apply w-1/4 flex flex-col justify-start
}
.footerLinks{
  @apply uppercase text-left text-xl font-medium mb-10
}
.footerLinksGrid{
  @apply flex flex-row text-left text-gray-300
}
.footerLinksRow{
  @apply w-1/2
}
.footerLink{
  @apply cursor-pointer hover:underline my-1 text-left
}
.footerLine{
  @apply w-full h-0.5 bg-gray-800
}
.footerBottom{
  @apply flex flex-row justify-between py-8
}
.footerRights{
  @apply text-gray-400
}
.footerSomeLinks{
  @apply text-gray-400
}
.footerPol{
  @apply cursor-pointer hover:underline
}
.footerPri{
  @apply cursor-pointer hover:underline ml-15
}