/* Partners logos block */
.logosCon {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 2.5rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  padding-left: 8rem;
  padding-right: 8rem;
  background-color: #070707;
}
.logoImg { object-fit: contain; }
