@import "tailwindcss";
@tailwind utilities;
.portfolioContainer{
  @apply mx-auto px-[8rem] py-16 relative
}
.portfolioTop{
  @apply flex flex-row justify-between w-full mb-4
}
.portfolioTopCont{
  @apply text-left w-1/2
}
.portfolio{
  @apply text-[18px] uppercase tracking-wider text-gray-400 text-left mb-2
}
.portfolioMainText{
  @apply text-left text-4xl md:text-5xl lg:text-5xl font-medium leading-tight mb-6
}
.portfolioTopText{
  @apply text-gray-300 max-w-lg h-1/2 flex items-center
}
.portfolioBtnCon{
  @apply h-1/2
}
.portfolioBtn{
  @apply relative px-6 py-3 rounded-full hover:underline cursor-pointer font-bold uppercase tracking-widest
}
.btnCir{
  @apply absolute top-0 left-0 size-13 bg-gray-800 -z-1 rounded-full
}
.portfolioLinks{
  @apply flex flex-col
}
.portfolioLink{
  @apply flex flex-col justify-between md:flex-row py-12 border-b-2 border-gray-800
}
.portfolioLinkLeft{
  @apply flex flex-row
}
.portfolioLinkLText{
  @apply w-fit
}
.portfolioLinkL{
  @apply text-gray-400
}
.portfolioLinkText{
  @apply text-3xl md:text-5xl font-bold tracking-tight mt-2 ml-3
}
.portfolioArrImg{
  @apply w-[37px]
}
.portfolioLinkRight{
  @apply flex items-end cursor-pointer hover:scale-120 transition-transform duration-300
}
.portfolioImgCon{
  @apply absolute top-4/10 right-3/20
}
.portfolioImg{
  @apply w-full h-full
}