@import "tailwindcss";
@tailwind utilities;
.heroContainer{
  @apply flex flex-row mb-10 pt-25 justify-between px-[8rem]
}
.heroText{
  @apply relative flex flex-col justify-around w-2/5 text-left
}
.heroBigText{
  @apply text-[100px] font-medium leading-[1.3]
}
.heroSmallText{
  @apply text-gray-300 text-[24px]
}
.heroImageCon{
  @apply relative w-11/20 bg-stone-800
}
.heroImageTop{
  @apply flex flex-row
}
.heroStatsCon{
  @apply flex justify-center w-full
}
.heroStats{
  @apply flex flex-col justify-around text-left
}
.heroStatTop{
  @apply text-4xl font-bold my-2
}
.heroImageBottom{
  @apply flex py-3 px-8
}
.heroBottomText{
  @apply flex flex-col justify-center text-left ml-5
}
.heroBTText{
  @apply text-[24px] font-medium
}
.heroBBText{
  @apply text-gray-300
}
.heroPlayImg{
  @apply absolute top-0 bottom-0 my-auto -start-[69px] hover:animate-[spinScale_1s_linear] cursor-pointer
}
@keyframes spinScale {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.heroScrollCon{
  @apply flex justify-center my-10 animate-bounce
}
.heroScroll{
  @apply tracking-wide transform-[rotate(-90deg)] h-fit cursor-pointer
}
.heroShapeImg{
  @apply absolute -bottom-10 end-20
}
.logosCon{
  @apply flex justify-around my-10 py-15 px-[8rem]
}
.logoImg{
  @apply object-contain
}